<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.hazelcast.com/schema/spring
    http://www.hazelcast.com/schema/spring/hazelcast-spring-2.5.xsd
    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
    http://cxf.apache.org/jaxrs
	http://cxf.apache.org/schemas/jaxrs.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	<import resource="classpath:database-config.xml"/>
	<import resource="classpath:job.xml"/>
	<import resource="classpath:security.xml"/>
	<context:property-placeholder />
	<context:annotation-config />
	<aop:aspectj-autoproxy/>
	<cache:annotation-driven cache-manager="cacheManager" />
	
	<hz:hibernate-region-factory id="regionFactory" instance-ref="hazelcast" />
	
	<bean id="cacheManager" class="com.hazelcast.spring.cache.HazelcastCacheManager">
	    <constructor-arg ref="hazelcast"/>
	</bean>

	<context:component-scan base-package="com.jdc.themis.dealer.utils">
    	<context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
  	</context:component-scan>

	<bean id="refDataQueryService" class="com.jdc.themis.dealer.service.impl.RefDataQueryServiceImpl" />
	
	<bean id="dealerIncomeEntryService" class="com.jdc.themis.dealer.service.impl.DealerIncomeEntryServiceImpl" />
	
	<bean id="dealerIncomeReportService" class="com.jdc.themis.dealer.service.impl.DealerIncomeReportServiceImpl" />
	
	<bean id="userService" class="com.jdc.themis.dealer.service.impl.UserServiceImpl" />
    
    <!-- RESTFUL services definitions -->
	<bean id="dealerRestService" class="com.jdc.themis.dealer.service.rest.DealerIncomeSystemRestService" />
    <bean id="userRestService" class="com.jdc.themis.dealer.service.rest.UserRestService" />
    <bean id="reportRestService" class="com.jdc.themis.dealer.service.rest.DealerReportRestService" />

	<jaxrs:server id="dealerEntryServer" address="/dealer">
		<jaxrs:serviceBeans>
      		<ref bean="dealerRestService" />
    	</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<ref bean="jaxbProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<jaxrs:server id="userServer" address="/user">
        <jaxrs:serviceBeans>
            <ref bean="userRestService" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jsonProvider" />
            <ref bean="jaxbProvider" />
        </jaxrs:providers>
    </jaxrs:server>
    <jaxrs:server id="reportServer" address="/report">
        <jaxrs:serviceBeans>
            <ref bean="reportRestService" />
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="jsonProvider" />
            <ref bean="jaxbProvider" />
        </jaxrs:providers>
    </jaxrs:server>
	
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider"></bean>

	<hz:hazelcast id="hazelcast">
        <hz:config>
            <hz:group name="themis" password="themis123"/>
            <hz:network port="5701" port-auto-increment="true">
                <hz:join>
                    <hz:multicast enabled="false" />
                    <hz:tcp-ip enabled="true">
                        <hz:members>${hazelcast_members}</hz:members>
                    </hz:tcp-ip>
                </hz:join>
            </hz:network>
            <hz:map name="default"
                backup-count="0"
                max-size="10000"
                eviction-percentage="30"
                cache-value="true"
                eviction-policy="LRU"
                merge-policy="hz.ADD_NEW_ENTRY"/>
        </hz:config>
    </hz:hazelcast>
</beans>